*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html{
  font-size: 62,5%;
}

.App{
  background-color: #664b92;
  min-height: 100vh;
  display: flex;
}

.quote{
  margin: auto;
  width: 100%;
  max-width: 600px;
  min-height: 180px;
  height: auto;
  padding: 30px;
  background: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: 8px 20px 3px rgba(0, 0, 0, 0.5);
  
}

p{
  font-size: 1.2rem;
  color: white;
  margin-bottom: 20px;
}

button{
  border: none;
  margin-right: 20px;
}

a{
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.btn{
  background-color: #6b68ff;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition:all 700ms ease-in-out;
}
